body {
    overflow-x: hidden;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* navbar */
/*  */
/*  */
/*  */
/*  */
/*  */

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.bg-light {
    background-color: #121212 !important;
}

.logo-nav1 {
    width: 40px;
}

.logo-nav2 {
    width: 26px;
    padding-bottom: 5px;
}

.nav-item a {
    color: #9E9E9E;
}

.nav-item a:hover {
    color: white;
    transition: 0.2s;
}

.nav-2 {
    width: 100%;
    background-color: rgba(17, 16, 16, 80%);
    position: fixed;
}

.navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    margin-bottom: 0;
    height: 42px;
}

*,
::after,
::before {
    box-sizing: border-box;
    font-size: 12px;
}

.navbar2 li>a {
    color: #9E9E9E;
    transition: .3s;
}

.navbar2 li>a:hover {
    color: rgb(235, 233, 233);
}

@media (max-width: 767px) {
    .nav-2 {
        display: none;
    }

}


/* a hover item nav */
#it-ul1 a {
    font-weight: bold;
    color: #dad7d7;
    font-size: 20px;
    transition: .5s;
}

#it-ul2 a,
#it-ul3 a {
    color: #dad7d7;
    font-size: 10px;
    transition: .2s;

}

#it-ul1 a:hover,
#it-ul2 a:hover,
#it-ul3 a:hover {
    color: white;
}

#it-ul2 a:hover,
#it-ul3 a:hover {
    font-size: 14px;
}


/* drop-downs navbar */
/*  */
/*  */
/*  */
/*  */
/*  */






/* js-display */
#items>div {
    display: none;
}

.showm {
    display: block !important;
    background: rgb(255 255 255 / 0);
    backdrop-filter: blur(43px);
    height: 100vh;
    z-index: 1;
    position: absolute;
    width: 100%;
    justify-content: start;
    animation-name: toggle;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: .5s;
}

.hide-nav{
    display: none !important;
    animation-name: toggleback;
    animation-duration: .5s;
}




@keyframes toggle {
    0% {
        display: block;
        transform: scaleY(0);
        transform-origin: 0 0;
        opacity: 0;
    }

    100% {
        transform-origin: 0 0;
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes toggleback {
    0% {
        transform-origin: 0 0;
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        display: none;
        transform: scaleY(0);
        transform-origin: 0 0;
        opacity: 0;
    }
}

/* drop-item store */
.item {
    display: flex;
    background-color: #121212;
    width: 100%;
    z-index: 1;
    justify-content: center;
}

.store {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item mac */
.mac {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item ipad */
.ipad {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item iPhone */
.iPhone {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item Watch */
.Watch {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item AirPods */
.AirPods {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item tv-home */
.tv-home {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item Entertainment */
.Entertainment {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item Accessories */
.Accessories {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item Support */
.Support {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: start;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

/* drop-item search */
.Search {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    color: #9E9E9E;
    justify-content: center;
    z-index: 2;
    min-width: 792px;
    max-width: 892px;
}

.Search input {
    background-color: #121212;
    outline: none;
    text-align: center;
    border: none;
    color: #9d9d9d;
    width: 200px;
    height: 42px;
    font-size: 22px;
}

/* text baners */
/*  */
/*  */
/*  */
/*  */
.center-text,
.top-tex {
    color: white;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: block;
}

.top-tex {
    font-weight: bold;
}

.links a:hover {
    font-size: 10px;
    transition: .2s;
}






/* baners */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.iphone15-dark,
.iphone15-light,
.tvbaner,
.watch,
.apple-vision,
.ipad-baner,
.macbook-baner,
.trade-baner,
.card-baner {
    display: block;
    height: auto;
    margin-bottom: 10px;
    padding-right: 0;
}

.iphone15-d {
    background-image: url("../image/iphone15pro_dark.jpg");
}

/* xs saize */
/*  */
/*  */
/*  */
/*  */
@media(max-width:576px) {
    .iphone15-d {
        background-image: url("../image/xs/iphone15pro__xsDark.jpg");
        width: 100%;
        height: 450px;
        background-size: 734px 548px;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .iphone15-d .document {
        padding-top: 15%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }


    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 450px;
        background-size: 734px 548px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }

    .iphone15-l .document {
        padding-top: 15%;
    }


    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 4%;


    }

    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }

    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }


    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    #watch .document {
        padding-top: 15%;
    }

    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }

    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }


    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 7%;
    }

    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }


    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }

    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }

    .apple-vis .document {
        padding-bottom: 2%;
    }

    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .macbook-ban .document {
        padding-top: 15%;
    }

    .macbook-ban .document h1 {
        font-weight: bold;
    }

    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }

    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .trade-ban .document {
        padding-top: 15%;
    }

    .trade-ban .document h1 {
        font-weight: bold;
    }

    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }

    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-ban .document {
        padding-top: 15%;
    }

    .card-ban .document h1 {
        font-weight: bold;
    }

    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
}

/* sm saize */
/*  */
/*  */
/*  */
/*  */
@media(min-width:577px) and (max-width:768px) {
    .iphone15-d {
        background-image: url("../image/xs/iphone15pro__xsDark.jpg");
        width: 100%;
        height: 450px;
        background-size: 734px 548px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
    }

    .iphone15-d .document {
        padding-top: 5%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }


    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 450px;
        background-size: 734px 548px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }

    .iphone15-l .document {
        padding-top: 6%;
    }


    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 2%;


    }

    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }

    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }


    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }

    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }

    #watch .document {
        padding-top: 7%;
    }


    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 3%;
    }

    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }


    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }

    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }

    .apple-vis .document {
        padding-bottom: 2%;
    }

    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .macbook-ban .document {
        padding-top: 7%;
    }

    .macbook-ban .document h1 {
        font-weight: bold;
    }

    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }

    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .trade-ban .document {
        padding-top: 7%;
    }

    .trade-ban .document h1 {
        font-weight: bold;
    }

    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }

    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-ban .document {
        padding-top: 7%;
    }

    .card-ban .document h1 {
        font-weight: bold;
    }

    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
}

/* md saize */
/*  */
/*  */
/*  */
/*  */
@media(min-width:769px) and (max-width:992px) {
    .iphone15-d {
        background-image: url("../image/iphone15pro_dark.jpg");
        width: 100%;
        height: 694px;
        background-size: 1068px 694px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
    }

    .iphone15-d .document {
        padding-top: 10%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }


    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 694px;
        background-size: 1068px 694px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }

    .iphone15-l .document {
        padding-top: 10%;
    }


    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 694px;
        background-size: 1068px 694px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 2%;


    }

    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }

    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }


    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }

    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }

    #watch .document {
        padding-top: 7%;
    }


    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 7%;
    }

    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }


    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }

    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }

    .apple-vis .document {
        padding-bottom: 2%;
    }

    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .macbook-ban .document {
        padding-top: 10%;
    }

    .macbook-ban .document h1 {
        font-weight: bold;
    }

    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }

    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .trade-ban .document {
        padding-top: 10%;
    }

    .trade-ban .document h1 {
        font-weight: bold;
    }

    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }

    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-ban .document {
        padding-top: 10%;
    }

    .card-ban .document h1 {
        font-weight: bold;
    }

    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
}

/* lg saize */
/*  */
/*  */
/*  */
/*  */
@media(min-width:993px) and (max-width:1200px) {
    .iphone15-d {
        background-image: url("../image/iphone15pro_dark.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
    }

    .iphone15-d .document {
        padding-top: 10%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }


    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }

    .iphone15-l .document {
        padding-top: 10%;
    }


    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 2%;


    }

    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }

    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }


    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }

    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }

    #watch .document {
        padding-top: 7%;
    }


    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 7%;
    }

    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }


    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }

    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }

    .apple-vis .document {
        padding-bottom: 2%;
    }

    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .macbook-ban .document {
        padding-top: 10%;
    }

    .macbook-ban .document h1 {
        font-weight: bold;
    }

    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }

    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .trade-ban .document {
        padding-top: 10%;
    }

    .trade-ban .document h1 {
        font-weight: bold;
    }

    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }

    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-ban .document {
        padding-top: 10%;
    }

    .card-ban .document h1 {
        font-weight: bold;
    }

    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
}

/* xl saize */
/*  */
/*  */
/*  */
/*  */
@media(min-width:1201px) and (max-width:1399px) {
    .iphone15-d {
        background-image: url("../image/iphone15pro_dark.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    .iphone15-d .document {
        padding-top: 10%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }
    
    
    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }
    
    .iphone15-l .document {
        padding-top: 10%;
    }

    
    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 736px;
        background-size: 1500px 736px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 2%;
        
        
    }
    
    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }
    
    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }
    
    
    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }
    
    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }
    
    #watch .document {
        padding-top: 7%;
    }
    
    
    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 7%;
    }
    
    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }
    
    
    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }
    
    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }
    
    .apple-vis .document {
        padding-bottom: 2%;
    }
    
    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    .macbook-ban .document {
        padding-top: 10%;
    }
    
    .macbook-ban .document h1 {
        font-weight: bold;
    }
    
    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }
    
    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    .trade-ban .document {
        padding-top: 10%;
    }
    
    .trade-ban .document h1 {
        font-weight: bold;
    }
    
    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }
    
    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 500px;
        background-size: 734px 548px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .card-ban .document {
        padding-top: 10%;
    }
    
    .card-ban .document h1 {
        font-weight: bold;
    }
    
    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
    .flana{
        width: 1500px;
    }
}

.flan{
    display: flex;
    justify-content: center;
}
/* xxl saize */
/*  */
/*  */
/*  */
/*  */
@media(min-width:1400px) {

    .flana{
        width: 1500px;
    }

    .iphone15-d {
        background-image: url("../image/iphone15pro_dark.jpg");
        width: 100%;
        height: 1000px;
        background-size: 2564px 1000px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .iphone15-d .document {
        padding-top: 5%;
        width: 100%;
    }

    .links a:nth-child(3) {
        margin-left: 2%;

    }
    
    
    .iphone15-l {
        background-image: url("../image/xs/iphone15_xsLight.jpg");
        width: 100%;
        height: 1000px;
        background-size: 2564px 1000px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .iphone15-l .document .top-tex,
    .iphone15-l .document .center-text {
        color: black;
    }
    
    .iphone15-l .document {
        padding-top: 5%;
    }

    
    #tvbaner {
        background-image: url("../image/xs/kfm__eggyizk68n8m_small_2x.jpg");
        width: 100%;
        height: 1000px;
        background-size: 2564px 1000px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #tvbaner .document img {
        width: 150px;
    }

    #tvbaner .document {
        padding-bottom: 2%;
        
        
    }
    
    #tvbaner .document h3 {
        color: white;
    }

    #tvbaner .document .links a {
        color: white;
        font-weight: bold;
    }
    
    #tvbaner .document .links a:hover {
        text-decoration: underline;
        font-size: 12px;
    }
    
    
    #watch {
        background-image: url("../image/xs/apple_watch_series_9_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    #watch .document h1 {
        margin-bottom: 0;
        font-weight: bold;
    }
    
    #watch .document h8 {
        color: #ce1718;
        font-weight: bold;
    }
    
    #watch .document {
        padding-top: 4%;
    }
    
    
    .ipad-ban {
        background-image: url("../image/xs/ipad__fioegapg12qi_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }

    .ipad-ban .document {
        padding-top: 4%;
    }
    
    .ipad-ban .document h3,
    .ipad-ban .document h1 {
        color: black;
    }

    .ipad-ban .document h1 {
        font-weight: bold;
    }
    
    
    .apple-vis {
        background-image: url("../image/xs/apple_vision_pro_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .apple-vis .document h1 {
        font-weight: bold;
    }

    .apple-vis .document h3 {
        color: #9d9d9d !important;
    }
    
    .apple-vis .document h3,
    .apple-vis .document h1,
    .apple-vis .document h5 {
        color: black;
    }
    
    .apple-vis .document {
        padding-bottom: 2%;
    }
    
    .macbook-ban {
        background-image: url("../image/xs/macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    .macbook-ban .document {
        padding-top: 10%;
    }
    
    .macbook-ban .document h1 {
        font-weight: bold;
    }
    
    .macbook-ban .document h1,
    .macbook-ban .document h5 {
        color: black;
    }
    
    .trade-ban {
        background-image: url("../image/xs/iphone_tradein_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        background-position: center;
        text-align: center;
        background-repeat: no-repeat;
    }
    
    .trade-ban .document {
        padding-top: 5%;
    }
    
    .trade-ban .document h1 {
        font-weight: bold;
    }
    
    .trade-ban .document h1,
    .trade-ban .document h5 {
        color: black;
    }
    
    .card-ban {
        background-image: url("../image/xs/tile__cauwwcyyn9hy_small_2x.jpg");
        width: 100%;
        height: 700px;
        background-size: 1080px 700px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .card-ban .document {
        padding-top: 5%;
    }
    
    .card-ban .document h1 {
        font-weight: bold;
    }
    
    .card-ban .document h1,
    .card-ban .document h5 {
        color: black;
    }
}

.camel{
    display: flex;
    justify-content: center;
}

/* footer */
/*  */
/*  */
/*  */
/*  */
/*  */
.footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.footer-back{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    width: 1500px;
}

.footer-document{
    display: block;
    border-bottom: 1px solid #9d9d9d;
}

.footer-menu-sm{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.footer-menu-sm ul{
    color: rgb(97, 97, 97);
    font-size: 16px;
    font-weight: bold;
}
.footer-menu-sm ul li a{
    color: black;
    font-size: 13px;
    transition: .06s;
}
.footer-menu-sm ul li a:hover{
    font-size: 16px;
}
